.card {
  font-size: 12px;
  position: relative;
}

.card--picture {
  width: 176px;
}

.card--status {
  position: absolute;
  top: 6px;
  left: 6px;
  font-size: 10.24px;
  background-color: white;
  border-radius: 2px;
  width: fit-content;
  padding: 1px 4px 0px;  
}

.card--stats {  
  display: flex;
}

.grayed {
  color: #918E9B;
}

.card--stats--star {
  height: 14px;
  width: 14px;
}